CSD_AWS_ACCOUNT_ID=
CSD_STAGE=
SERVICE_SECRET_ID=
DATABASE_HOST=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD_SECRET_NAME=
S3_KEY_PREFIX=
SERVICE_NAME=
SECRET_NAME=
S3_BUCKET=
DB_BACKUP_EC2=
SCRIPT_PATH=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT=
AZURE_OPENAI_API_VERSION=
CALL_TYPES_DATA_PATH=
